agent/workflows/8E2qaFHJQr0doATZ.json
{
  "createdAt": "2025-03-22T07:28:23.524Z",
  "updatedAt": "2025-03-23T05:20:17.000Z",
  "id": "8E2qaFHJQr0doATZ",
  "name": "MultiBaaS + Privy: Create Task",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "taskId"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        880,
        -305
      ],
      "id": "e8f4814b-216a-4b15-9493-6692654020ab",
      "name": "Generate ID"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userId"
            },
            {
              "name": "name"
            },
            {
              "name": "details"
            },
            {
              "name": "reward",
              "type": "number"
            },
            {
              "name": "penalty",
              "type": "number"
            },
            {
              "name": "deadline",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        -305
      ],
      "id": "c7b1bb36-0ed4-417e-a350-292478779be0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F6OMzoLFoQgxb5TJ",
          "mode": "list",
          "cachedResultName": "Privy: Get user wallet data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        -420
      ],
      "id": "0c002a42-71ee-40db-8c62-069b60320476",
      "name": "Get privy wallet data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        660,
        -305
      ],
      "id": "fb5620c1-e384-4864-bad0-09cd11c10f63",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MULTIBAAS_URL }}/addresses/aggy_token/contracts/aggy_token/methods/approve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "args",
              "value": "={{ [$json.coreAddress, $json.reward] }}"
            },
            {
              "name": "from",
              "value": "={{ $json.address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -420
      ],
      "id": "0c8e8cae-8c39-41d1-b925-1444f5621fd6",
      "name": "Prepare deposit tx",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kcme09pJN7p2gcFw",
          "name": "MultiBaaS account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MULTIBAAS_URL }}/addresses/aggy_core/contracts/aggy_core/methods/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "args",
              "value": "={{ [[$json.name, $json.taskId, $json.details, $json.reward, $json.penalty, $json.deadline]] }}"
            },
            {
              "name": "from",
              "value": "={{ $json.address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        -305
      ],
      "id": "c5657715-9f79-4cf2-9af2-dcea84676f1d",
      "name": "Prepare create tx",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kcme09pJN7p2gcFw",
          "name": "MultiBaaS account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ufVKn88RUKasYLuV",
          "mode": "list",
          "cachedResultName": "MultiBaaS: Send transaction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $json.result.tx.to }}",
            "data": "={{ $json.result.tx.data }}",
            "value": "={{ $json.result.tx.value }}",
            "type": "={{ $json.result.tx.type }}",
            "nonce": "={{ $json.result.tx.nonce ?? 0 }}",
            "maxPriorityFeePerGas": "={{ $json.result.tx.gasTipCap }}",
            "maxFeePerGas": "={{ $json.result.tx.gasFeeCap }}",
            "gasLimit": "={{ $json.result.tx.gas }}",
            "walletId": "={{ $('Get privy wallet data').item.json.walletId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "walletId",
              "displayName": "walletId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "gasLimit",
              "displayName": "gasLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxFeePerGas",
              "displayName": "maxFeePerGas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxPriorityFeePerGas",
              "displayName": "maxPriorityFeePerGas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "nonce",
              "displayName": "nonce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1980,
        -420
      ],
      "id": "ceca6895-c79a-4d7d-acc3-099abcda5c2d",
      "name": "Send deposit tx"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ufVKn88RUKasYLuV",
          "mode": "list",
          "cachedResultName": "MultiBaaS: Send transaction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $json.result.tx.to }}",
            "data": "={{ $json.result.tx.data }}",
            "value": "={{ $json.result.tx.value }}",
            "type": "={{ $json.result.tx.type }}",
            "nonce": "={{ $json.result.tx.nonce ?? 0 }}",
            "maxPriorityFeePerGas": "={{ $json.result.tx.gasTipCap }}",
            "maxFeePerGas": "={{ $json.result.tx.gasFeeCap }}",
            "gasLimit": "={{ $json.result.tx.gas }}",
            "walletId": "={{ $('Get privy wallet data').item.json.walletId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "walletId",
              "displayName": "walletId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "gasLimit",
              "displayName": "gasLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxFeePerGas",
              "displayName": "maxFeePerGas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxPriorityFeePerGas",
              "displayName": "maxPriorityFeePerGas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "nonce",
              "displayName": "nonce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2640,
        -305
      ],
      "id": "8a6ad14c-cd60-4135-a216-b1ca5c1545ff",
      "name": "Send create tx"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2200,
        -305
      ],
      "id": "87ec470c-ee8b-4cc1-8cdf-4a68996b0753",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify($('Merge1').item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2860,
        -305
      ],
      "id": "66088026-3cbd-433e-bdd4-87901765e58e",
      "name": "Export data"
    },
    {
      "parameters": {
        "url": "={{ $env.MULTIBAAS_URL }}/addresses/aggy_core",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -200
      ],
      "id": "0341089c-b66a-4bbe-9d4a-833e4cf0b6e9",
      "name": "Get AggyCore address",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kcme09pJN7p2gcFw",
          "name": "MultiBaaS account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1540,
        -420
      ],
      "id": "e20078eb-9ceb-4eac-b8ed-269f95004bb6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "536b597c-230b-44d3-be73-42a7e1dfd5f6",
              "name": "coreAddress",
              "value": "={{ $json.result.address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -200
      ],
      "id": "ed3eb2ed-2235-4980-8201-5a07c39f71f5",
      "name": "Pick address only"
    }
  ],
  "connections": {
    "Generate ID": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get AggyCore address",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get privy wallet data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get privy wallet data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare create tx": {
      "main": [
        [
          {
            "node": "Send create tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare deposit tx": {
      "main": [
        [
          {
            "node": "Send deposit tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send deposit tx": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prepare create tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send create tx": {
      "main": [
        [
          {
            "node": "Export data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AggyCore address": {
      "main": [
        [
          {
            "node": "Pick address only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Prepare deposit tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick address only": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userId": "cm8k7kgle005mday68m1l2zlz",
          "name": "Test 1742647546585",
          "details": "Adipisci eveniet voluptatem sed. Molestias nemo odio dicta corporis corrupti iusto optio. Voluptas vero repellendus aut qui vel asperiores nihil. Aut non ut autem magni dolores voluptatum consequatur sunt.  Ipsam dignissimos necessitatibus id cum. Autem quaerat occaecati impedit. Sequi explicabo doloremque corporis et enim et. Id voluptatem fugit reprehenderit et ut quasi dolore. Aliquid itaque et impedit.  Doloribus natus ad architecto sapiente dignissimos et. Voluptas beatae minima quae. Dicta dolorem ex laborum eius vitae at quam.  Sapiente ducimus ut voluptatem eos cumque ab. Qui exercitationem quia ducimus tempore perspiciatis autem aut. Sed ea id architecto voluptas esse sunt. Numquam consequatur non et suscipit quibusdam autem. Totam eaque molestiae laboriosam explicabo quibusdam quas fuga. Et nobis qui ut.  Deserunt sed maiores vel. Repudiandae ut magnam eius voluptates culpa sunt. Quia ad iusto qui deleniti. Magni qui doloremque ducimus. Perferendis nam consequuntur amet ratione. Vel error aut amet necessitatibus animi est natus.",
          "reward": 200,
          "penalty": 500,
          "deadline": 1743252346
        }
      }
    ],
    "Get privy wallet data": [
      {
        "json": {
          "walletId": "iaauf9qrpkjlb2gr1s60p8v6",
          "address": "0x901496ddE072872E0dCAF22eB9f8164350Bbbb8B",
          "chainId": "eip155:1"
        }
      }
    ]
  },
  "versionId": "5dd935a4-bacd-41f6-bdc7-21ad5385fcdd",
  "triggerCount": 0,
  "tags": []
}