agent/workflows/ufVKn88RUKasYLuV.json
{
  "createdAt": "2025-03-22T09:27:27.254Z",
  "updatedAt": "2025-03-22T10:00:43.000Z",
  "id": "ufVKn88RUKasYLuV",
  "name": "MultiBaaS: Send transaction",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ethers = require('ethers');\n\nconsole.log('AGGY_WALLET_ADDRESS', $env.AGGY_WALLET_ADDRESS);\nconsole.log('AGGY_WALLET_PRIVATE_KEY', $env.AGGY_WALLET_PRIVATE_KEY);\n\nconst { to, data, value, nonce, gasLimit, maxFeePerGas, maxPriorityFeePerGas, type } = $input.item.json;\nconst wallet = new ethers.Wallet($env.AGGY_WALLET_PRIVATE_KEY);\nconst signed = await wallet.signTransaction({\n  from: $env.AGGY_WALLET_ADDRESS,\n  chainId: $env.MULTIBAAS_CHAIN_ID,\n  to,\n  data,\n  value,\n  gasLimit,\n  type,\n  nonce,\n  maxFeePerGas,\n  maxPriorityFeePerGas,\n});\n\nreturn { json: { signed } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -120
      ],
      "id": "f616bfa7-d160-4f3f-a11b-c405ef7fac9e",
      "name": "Sign transaction"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MULTIBAAS_URL }}/transactions/submit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "signedTx",
              "value": "={{ $json.signed }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -120
      ],
      "id": "790d9231-e931-4e5b-b994-330602681de1",
      "name": "Send transaction",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kcme09pJN7p2gcFw",
          "name": "MultiBaaS account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "to"
            },
            {
              "name": "data"
            },
            {
              "name": "value"
            },
            {
              "name": "gasLimit",
              "type": "number"
            },
            {
              "name": "maxFeePerGas",
              "type": "number"
            },
            {
              "name": "maxPriorityFeePerGas",
              "type": "number"
            },
            {
              "name": "type",
              "type": "number"
            },
            {
              "name": "nonce",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        -120
      ],
      "id": "a082c46b-b273-421d-bd8b-25d3a1db9c6f",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Sign transaction": {
      "main": [
        [
          {
            "node": "Send transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Sign transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eb73abea-0b19-412d-a6c9-292796d24a66",
  "triggerCount": 0,
  "tags": []
}