agent/workflows/YGcHT3h960D0pDyR.json
{
  "createdAt": "2025-03-21T16:31:39.156Z",
  "updatedAt": "2025-03-22T07:24:29.000Z",
  "id": "YGcHT3h960D0pDyR",
  "name": "Nillion SecretVault: Get Task data",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "taskId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2000,
        280
      ],
      "id": "4da46925-9783-499c-8ccd-adc7ab41e5f0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2220,
        60
      ],
      "id": "1ad7fca5-639a-4b82-a697-2005ad4508b4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0172820b-cbf5-4633-88e2-20942da92b9c",
              "name": "taskId",
              "value": "0f8ed7a1-b11c-4ebb-8b08-19633f1da3c6",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        60
      ],
      "id": "96af7cdc-94b5-446b-8397-b55c0ad528c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { SecretVaultWrapper } = require('secretvaults');\n\nconst nodes = [\n  {\n    url: 'https://nildb-nx8v.nillion.network',\n    did: 'did:nil:testnet:nillion1qfrl8nje3nvwh6cryj63mz2y6gsdptvn07nx8v',\n  },\n  {\n    url: 'https://nildb-p3mx.nillion.network',\n    did: 'did:nil:testnet:nillion1uak7fgsp69kzfhdd6lfqv69fnzh3lprg2mp3mx',\n  },\n  {\n    url: 'https://nildb-rugk.nillion.network',\n    did: 'did:nil:testnet:nillion1kfremrp2mryxrynx66etjl8s7wazxc3rssrugk',\n  },\n];\n\nconsole.log('NILLION_ORG_DID:', $env.NILLION_ORG_DID);\nconsole.log('NILLION_ORG_SECRET_KEY:', $env.NILLION_ORG_SECRET_KEY);\nconsole.log('NILLION_VAULT_SCHEMA_ID:', $env.NILLION_VAULT_SCHEMA_ID);\n\nconst collection = new SecretVaultWrapper(\n  nodes,\n  {\n    secretKey: $env.NILLION_ORG_SECRET_KEY,\n    orgDid: $env.NILLION_ORG_DID,\n  },\n  $env.NILLION_VAULT_SCHEMA_ID\n);\nawait collection.init();\n\nconst result = await collection.readFromNodes({\n  '_id': $input.item.json.taskId,\n});\n\nreturn { json: { result } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1720,
        180
      ],
      "id": "cdc24a10-8d95-454e-9eba-4c14515aceeb",
      "name": "Get record"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1df17570-01d2-4ff2-94e2-17caaeec9e92",
  "triggerCount": 0,
  "tags": []
}