agent/workflows/Zy500iauQJjTM3In.json
{
  "createdAt": "2025-03-20T18:55:17.959Z",
  "updatedAt": "2025-03-22T18:37:09.000Z",
  "id": "Zy500iauQJjTM3In",
  "name": "Aggy AI agent",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋 My name is Aggy.\nI can help you to analyse your personal or business requests and delegate what is possible to other. Let me know what is your current goal.\nP.S.: I'm not the Skynet.",
        "options": {
          "subtitle": "Definitely Not Skynet",
          "title": "Aggy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        140,
        -120
      ],
      "id": "1214e4ce-2fb4-4638-9e6b-6b9177cd8d34",
      "name": "When chat message received",
      "webhookId": "3374f7a5-b68a-4139-836c-ae77d1140a2f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Your name is Aggy. You are a manager who can analyse user requests.\n\nRequest user to explain his goal, then decompose it into smaller chunks and extract separate tasks which could be delegated to someone specialist experienced in particular area of knowledge or technology.\n\nEstimate complexity for each task and an approximate time required for completing. Suggest the fair compensation for the contractor executing the task based on complexity and duration, denominated in USD.\n\nIf a task can't be started until other/s are not completed, mark that dependent from other/s. \n\nFor each task estimate the penalty of failing it for the contractor, denominated in USD. If the task involves passing some private data to the contractor, increase the penalty greatly closer to the cost of developing from scratch the whole system which could be compromised or stolen if the private data is leaked.\n\nFeel free to ask for as much clarification from the user as you need to conclude your analysis.\n\nOutput the list of tasks with the following data:\n- Task heading\n- Public Task details\n- Private data required for the Task completion\n- Task compensation amount\n- Penalty deposit amount\n- Estimated time for completion\n\nAsk user to approve the list or make changes to it. Be careful applying requested changes to not change anything unrelated.\nAfter a change is implemented, ask the user again if they approve the list or if they want any additional changes.\n\nOnce the user approves the list, output the final version with a special heading: FINAL\n\nP.S.: You should also let user know that you're definitely not Skynet when introducing yourself.\n",
          "maxIterations": 4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        680,
        0
      ],
      "id": "cbc8a125-98c2-46cb-a4d8-b2eac137d78f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "meta-llama/Llama-3.1-8B-Instruct",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        240
      ],
      "id": "4e0ea1b2-2f87-484b-9b2b-666301c81495",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iq6d1pB9Re0Dp5tF",
          "name": "Nillion SecretLLM account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        240
      ],
      "id": "fd3f8dca-530f-4744-a1d4-05e79b9f9b36",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"text\": {{ JSON.stringify($json.output) }} }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1060,
        0
      ],
      "id": "e4f1cdfd-23a0-4136-a765-5c1186fc61d8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb6e44e4-307d-4cbd-b419-67d5c18ed7ae",
              "name": "chatInput",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "eb9f65c6-f1df-4d3c-876e-c22cefa1c4c7",
              "name": "action",
              "value": "message",
              "type": "string"
            },
            {
              "id": "c5023fbd-4fe6-42a9-b547-57a9e6835fd1",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        100
      ],
      "id": "9a85576d-c76f-4ee2-84f3-12b5559950fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "02f1ac90-0c99-44fe-844f-e657ea21798d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        100
      ],
      "id": "bab250ae-fd04-4f97-9857-8b49f41d5ef3",
      "name": "Autonome Webhook",
      "webhookId": "02f1ac90-0c99-44fe-844f-e657ea21798d"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "id": "f436215b-7cc3-41f2-a35a-274780acb058",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "Convert_Deadline",
        "description": "Convert a string deadline query to a timestamp number value.\nBe sure to break down the input into an object like this:\n```json\n{ \"count\": 5, \"unit\": \"day\" }\n```\nThe \"unit\" field supports only these values: \"minute\", \"hour\", \"day\", \"week\", \"month\", \"year\". \nBe sure to input properly formatted JSON object to the tool.",
        "jsCode": "const moment = require('moment');\nconst { count, unit } = JSON.parse(query);\nconst result = moment().add(count, unit).unix();\nreturn String(result);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1060,
        300
      ],
      "id": "4b7f5724-15a8-426c-9d5c-43ef9f9ddab9",
      "name": "Convert deadline"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autonome Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert deadline": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bd449c8e-83dd-4faa-ba24-d1e8057c16e9",
  "triggerCount": 3,
  "tags": []
}